<!DOCTYPE html>
<html>
<head>
	<title>注册账号</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="assets/css/test.css">
	<script type="text/javascript" src="assets/js/test.js"></script>
</head>
<body onload="createCode()">
<div id="wrapper">
	<div id="head">
		<div class="mod-header">
			<!--<a href="http://www.baidu.com" style="display: block;">
				<img src="assets/images/baidu.gif" alt="logo">
			</a>
			-->
		</div>
	</div>

	<div id="nav">
		<div class="nav1">
			
		</div>
	</div>
<form method="post">
	<div id="contentW">
		<div id="content">
			<div class="regText">
		<p class="usernamep" style="display:">
		<label class="usernamelabel th">* 用户名</label>
		<input type="text" name="username" id="username" autocomplete="new-password" placeholder="请设置用户名" class="userSize1">
		</p>

		<p class="usernamep">
			<label class="usernamelabel">* 手机号</label>
			<input type="text" name="phonenumber" id="phonenumber" placeholder="可用于登录和找回密码" class="userSize1">
		</p>

		<p class="usernamep">
			<label class="usernamelabel">* 密码</label>
			<input type="password" name="password" id ="password" autocomplete="new-password" placeholder="请设置登录密码" class="userSize1">
		</p>

		<p class="usernamep">
			<label class="usernamelabel">确认密码</label>
			<input type="password" name="password" id="password" autocomplete="new-password" placeholder="请再次输入密码" class="userSize1">
		</p>

		<!--<p class="usernamep">
			<label class="usernamelabel">* 验证码</label>
			<input type="text" name="verifyCodeSend" style="display: none;">
			<input type="text" name="" autocomplete="new-password" placeholder="请输入验证码" class="userSize3">
			<input type="button" name="verify_button" value="获取短信验证码" class="userSize2">
		</p>-->

		<form id="form1" runat="server" onsubmit="validateCode()">
 				<table border="0" cellspacing="3" cellpadding="1">
 				<tr>
 				<td></td>
    			<td><div class="code" id="checkCode" onclick="createCode()" >
    			</div>
    			</td>
				<td><a href="#" onclick="createCode()">看不清换一张</a>
				</td>
				</tr>
				</table>
				<p>
    			<label class="usernamelabel">验证码</label>
   				<input style="display: none;" type="text"  />
   				<input type="text" name="" autocomplete="new-password" placeholder="请输入验证码" class="userSize1" id="inputCode">
  				</p>
  				<p class="usernamep">
  				<label class="usernamelabel"></label>
				<a href="">
				<input type="submit"  id="button1" value="注册" onclick="validateCode();" class="userSize4">
				</a>
				</p>
		</form>
		
			</div>

			<div class="reg-sms">
			<h3 class="reg-sms-title">手机快速注册</h3>
			<div class="reg-sms-content">
			<p class="reg-sms-p reg-sms-p-text">请使用中国大陆手机号，编辑短信：</p>
			<p class="reg-sms-p reg-sms-p-warn">6-14位字符(支持数字/字母/符号)</p>
			<p class="reg-sms-p reg-sms-p-text">作为登录密码，发送至：</p>
			<p class="reg-sms-p reg-sms-p-warn">000000000000</p>
			<p class="reg-sms-p reg-sms-p-last">即可注册成功，手机号即可作为登录账号</p>
			<p class="reg-sms-qrcode">
				<img src="assets/images/upreg.png">
				<br>
				<span>请使用手机百度进行扫码</span>
			</p>
		</div>
			</div>

			<div class="loginlink">
			<span>我已注册，现在就</span>
			<button class="loginreg"><a href="login/login.html">登录</a></button>
			</div>
		</div>
	</div>
	</form>
	<div id="foot">
		<div class="showtime">2018&nbsp;@华电兼职</div>
	</div>
</div>
</body>
</html>